<%# views/works_orders/_route_card_op.html.erb %>
<%# Render individual operation %>
<%
  has_variables = op[:all_variables]&.length&.> 0 || false
  top_style = has_variables ? 'border-bottom-style: dashed;' : ''
  bottom_style = has_variables ? 'border-top-style: dashed;' : ''
  rowspan = has_variables ? 2 : 1
  is_op_1 = op[:number] == 1
%>

<tr class="op op-<%= op[:number] %>">
  <td rowspan="<%= rowspan %>">
    <%= op[:number] %>
  </td>
  <td style="<%= top_style %>">
    <% if op[:content] %>
      <% op[:content].each do |item| %>
        <% if item[:type] == "paragraph" %>
          <%= item[:as_html]&.html_safe %>
        <% end %>
      <% end %>
    <% end %>
  </td>

  <% if is_op_1 %>
    <!-- For OP 1, merge all batch columns into one -->
    <td colspan="<%= batch_cols %>" style="<%= top_style %>"></td>
  <% else %>
    <!-- For all other operations, use separate columns -->
    <% batch_cols.times do %>
      <td style="<%= top_style %>"></td>
    <% end %>
  <% end %>
</tr>

<% if has_variables %>
  <tr>
    <td style="<%= bottom_style %>">
      <% op[:all_variables].each do |variable| %>
        <div class="variable-row" style="font-weight:bold; text-align: right;">
          <span class="variable-name"><%= variable[:as_html]&.html_safe %></span>:
        </div>
      <% end %>
    </td>

    <% if is_op_1 %>
      <!-- For OP 1, merge all batch columns into one -->
      <td colspan="<%= batch_cols %>" style="<%= bottom_style %>"></td>
    <% else %>
      <!-- For all other operations, use separate columns -->
      <% batch_cols.times do %>
        <td style="<%= bottom_style %>"></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
